.input-number {
  display: grid;
  width: 90px;
}
.input-number__label {
  font-size: 16px;
  text-align: center;
}

.input-number__input {
  font-size: 14px;
  text-align: center;
  line-height: 1.8em;
  padding: 2px;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  width: 100%;
}
