.question1 {
  display: grid;
  gap: 20px;
  margin-top: 1em;
  justify-items: center;
}

.question1__title {
  font-size: 27px;
  font-weight: 400;
}

.question1__size-settings {
  display: grid;
  grid-template-columns: auto auto;
  width: 200px;
  gap: 5px;
  justify-content: center;
}

.question1__description {
  font-size: 14px;
  max-width: 640px;
  font-weight: 400;
  text-align: justify;
  margin-bottom: 30px;
  padding: 0 45px 2em 45px;
}

.question1__description--filled {
  background-color: #f4f4f4;
  padding: 1em 45px 1em 45px;
}

.question1__description--with-line {
  border-bottom: 1px solid #777777;
}
